.reveal h1
{
    font-size: 64px;
}

.reveal li
{
    margin-bottom: 30px;
}

.multiple-columns
{
    display: flex;
}

.column
{
    flex-grow: 1;
}

#technologies .multiple-columns
{
    margin-bottom: 50px;
}

#technologies em
{
    font-size: 32px;
}

#whatToTest
{
    text-align: left;
}

#whatToTest h3:not(:first-child)
{
    margin-top: 40px;
}

.highlight-green
{
    color: #17ff2e;
}

.highlight-red
{
    color: #ff2c2d;
}

#links *
{
    text-align: left;
}

#links div
{
    margin-bottom: 50px;
}

.reveal p
{
    margin: 30px 0;

    text-align: left;
}

#directives h1,
#directives h2,
#directives h3,
#directives h4
{
    color: #1f9c1f;
}

#components h1,
#components h2,
#components h3,
#components h4
{
    color: #4545f9;
}

#component-based-architecture h1,
#component-based-architecture h2,
#component-based-architecture h3,
#component-based-architecture h4
{
    color: #da8d00;
}
